body{
  background-color: rgb(166, 150, 175);
  padding-bottom: 50px;
  padding-top: 200px;
}
.btn{
  display: flex;
  justify-content: center;
  border: 3px solid black;
}
#gitHub{
  margin-top: 250px;
}

.bio-photo{
  width:280px;
  height: 210px;
  margin-left:35%;
  margin-right: 35%;
}
